# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\RnD\cppdev_general\Modern_Cpp_Absolute_Beginners\Ch05_Types\FloatingPointTypes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
