# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\RnD\cppdev_general\The_Cpp_Workshop\Ch08_Classes_Structs\Ex58DefaultConstructor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
