# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\RnD\cppdev_general\Data_Structures_Algorithm\Ch01_Lists_Stacks_Queues\Ex3LinkedList\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
