# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\RnD\cppdev_general\The_Cpp_Workshop\Ch10_Advanced_OOP\Ex70Casting\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
