# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\RnD\cppdev_general\The_Cpp_Workshop\Ch06_Dynamic_Variables\Ex47DeleteWithArray\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
